

#main {
	width:320px;
	height:480px;
}
.top-toolbar {
	background: url(icons/iPhoneToolbar.png) repeat-x rgb(115, 136, 165);
	border-bottom: 1px solid rgb(63, 78, 99);
	color: white;
	font-size: 20px;
	font-weight: bold;
	line-height: 39px;
	margin: 0px;
	padding: 10px;
	text-align: center;
	text-overflow: ellipsis;
	text-shadow: rgba(0, 0, 0, 0.597656) 0px -1px 0px;
	display:block;
	height:39px;
}
.gwt-Button {
	-webkit-border-image: url(icons/grayButton.png) 0 14 0 14 stretch stretch;
	border-left: 12px;
	border-right: 12px;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 1px 1px;
	display: block;
	font: normal normal bold 12px/20px Helvetica, sans-serif;
	height: 20px;
	margin: 0px;
	text-align: center;
	text-decoration: none;
	width: 100px;
}
#egg-button {
	width: 210px;
}
.hint {
	width: 300px;
	padding: 3px;
}
