<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
    <servlet>
        <servlet-name>org.gtug.karlsruhe.bunnycasher.bunnycasher EggService</servlet-name>
        <servlet-class>org.gtug.karlsruhe.bunnycasher.server.EggServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>org.gtug.karlsruhe.bunnycasher.bunnycasher EggService</servlet-name>
        <url-pattern>/bunnycasher/egg</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Gtug_ka_eastern.html</welcome-file>
  </welcome-file-list>

</web-app>
